<ion-view view-title="Blank Template">
    <ion-content class="">
        <div id="room-canvas-container"></div>
    </ion-content>

    <div id="top-info-bar" style="display: block;">

    </div>

    <div id="bottom-navbar" style="display: block;">
        <ul>
            <li style="color: white">3D</li>
            <li><a href="#/panoramic">360º</a></li>
            <li id="room-more-info-popup">+</li>
            <li><a href="#/tabs">TEST</a></li>
        </ul>
    </div>

    <div id="room-more-info-modal">
        <div class="modal-header">Info</div>
        <div class="modal-content"></div>
    </div>
    <div id="room-more-info-modal-background"></div>

</ion-view>