<!DOCTYPE html>
<html >
  <body>
    <!-- Form Mixin-->
    <!-- Input Mixin-->
    <!-- Button Mixin-->
    <!-- Pen Title-->
    <div class="pen-title">
      <h1>Bem-vindo</h1>
      <span>Painel de administração da Casa da Música</span>
    </div>
  </body>
</html>


