<ion-view view-title="Blank Template">
    <ion-content class="">
        <!--<img src="img/sculpteur.jpg" class="advancedpanorama" width="2448" height="375" usemap="testmap" alt="Atelier du sculpteur" />
        <map id="testmap" name="testmap">
            <area shape="rect" coords="1653,72,1839,255" href="salleformation.html" alt="vers la salle de formation" />
            <area shape="rect" coords="2013,114,2091,210" href="img/statue1.jpg" alt="statues" class="thickbox" />
            <area shape="rect" coords="1920,276,2070,351" href="img/gouges.jpg" alt="gouges" class="thickbox" />
        </map>-->
        <div id="panorama"></div>
    </ion-content>

    <div id="top-info-bar" style="display: block;">{{room_title}}</div>

    <div id="bottom-navbar" style="display: block;">
        <ul>
            <li><a href="#/room/{{room}}">3D</a></li>
            <li style="color: white">360º</li>
            <li id="room-more-info-popup"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></li>
            <!--<li><a href="#/tabs">TEST</a></li>-->
        </ul>
    </div>

    <div id="room-more-info-modal">
        <div class="modal-header">Info</div>
        <div class="modal-content"></div>
    </div>
    <div id="room-more-info-modal-background"></div>
</ion-view>