<ion-view view-title="Blank Template">
    <ion-content class="">
        360
    </ion-content>

    <div id="top-info-bar" style="display: block;">{{room_title}}</div>

    <div id="bottom-navbar" style="display: block;">
        <ul>
            <li><a href="#/room/{{room}}">3D</a></li>
            <li style="color: white">360º</li>
            <li id="room-more-info-popup"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></li>
            <!--<li><a href="#/tabs">TEST</a></li>-->
        </ul>
    </div>

    <div id="room-more-info-modal">
        <div class="modal-header">Info</div>
        <div class="modal-content"></div>
    </div>
    <div id="room-more-info-modal-background"></div>
</ion-view>