<ion-view cache-view="false" view-title="{{room}}">
    <ion-content class="">
        <div id="panorama"></div>
    </ion-content>

    <div ng-include src="'templates/sidebar.html'"></div>

    <div id="top-info-bar" style="display: block;"><p class="title-container" ng-bind-html="room_title"></p></div>

    <div id="bottom-navbar" class="bottom-navbar" style="display: block">
        <ul>
            <li><a ng-href="#/room/{{room}}">3D</a></li>
            <li ng-if="panorama_available" id="panorama-btn-bottom-navbar" class="selected">360º</li>
            <li><a ng-href="#/materials/{{room}}"><img src="img/icon_materiais_33.png"></a></li>
            <li id="room-more-info-popup" ng-click="showPopup()"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></li>
            <li ng-if="next_room_available"><span ng-click="goToNextRoom()"><i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i></span></li>
        </ul>
    </div>

    <span ng-include src="'templates/room-more-info-popup.html'"></span>

</ion-view>
