

<div id="{{room}}-more-info-modal" class="more-info-modal">
    <div class="modal-header">
        <span class="modal-title">{{texts.tour.more_info_modal.title[language].toUpperCase()}}</span>
        <span class="close-btn-container"><i class="fa fa-times fa-2x" ng-click="hidePopup()" aria-hidden="true"></i></span>
    </div>
    <div class="modal-content" ng-bind-html="room_description"></div>
    <div class="modal-footer">
        <div id="room-description-audio" data-tap-disabled="true" >
            <audio controls="controls">
                <source src="{{description_audio_path}}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <div class="custom-controls">
                <i class="fa fa-play fa-3x audio-btn" ng-click="toggleDescriptionAudio()"></i>
            </div>
        </div>
    </div>
</div>
<div id="{{room}}-more-info-modal-background" class="more-info-modal-background"></div>


