<head>
<script>
function EvalSound(soundobj) {
  var thissound=document.getElementById(room_description_audio);
  thissound.play();
}
</script>
</head>

<div id="{{room}}-more-info-modal" class="more-info-modal">
    <div class="modal-header">
        <span class="modal-title">{{texts.tour.more_info_modal.title[language].toUpperCase()}}</span>
        <span class="close-btn-container"><i class="fa fa-times fa-2x" ng-click="hidePopup()" aria-hidden="true"></i></span>
    </div>
    <div class="modal-content" ng-bind-html="room_description"></div>
    <div class="modal-footer">
        <div data-tap-disabled="true" >
            <audio controls="controls">
                <source src="audio/mpthreetest.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
</div>
<div id="{{room}}-more-info-modal-background" class="more-info-modal-background"></div>


