<ion-view view-title="Blank Template">
    <ion-content class="">
        <div id="room-canvas-container"></div>
    </ion-content>

    <div ng-include src="'templates/sidebar.html'"></div>

    <div id="top-info-bar" style="display: block;">{{room_title}}</div>

    <div id="bottom-navbar" style="display: block;">
        <ul>
            <li style="color: white">3D</li>
            <li><a href="#/panoramic/{{room}}">360º</a></li>
            <li id="room-more-info-popup"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></li>
            <!--<li><a href="#/tabs">TEST</a></li>-->
        </ul>
    </div>

    <div id="room-more-info-modal" class="more-info-modal">
        <div class="modal-header">Info</div>
        <div class="modal-content"></div>
        <div class="modal-footer"><button class="close-btn button button-stable">Fechar</button></div>
    </div>
    <div id="room-more-info-modal-background" class="more-info-modal-background"></div>

</ion-view>