<div id="{{prefix}}-sidebar-menu" class="sidebar hidden {{sidebar_background ? 'background' : ''}}" style="display: none">
    <div class="sidebar-column" >
        <div class="sidebar-items-container">
            <ul id="sidebar-menu-ul">
                <li><a href="#/model">{{texts.tour.title[language].toUpperCase()}}</a></li>
                <li><a href="#/contacts">{{texts.contacts.title[language].toUpperCase()}}</a></li>
                <li><a href="#/local">{{texts.localization.title[language].toUpperCase()}}</a></li>
                <li><a href="#/language">{{texts.language.title[language].toUpperCase()}}</a></li>
            </ul>
        </div>
    </div>
</div>

