<div id="{{prefix}}-sidebar-menu" class="sidebar" style="display: none">
    <div class="sidebar-column" >
        <div class="sidebar-items-container">
            <ul id="sidebar-menu-ul">
                <li><a href="#/model">A CASA</a></li>
                <li><a href="#/contacts">CONTACTOS</a></li>
                <li><a href="/#/local">LOCALIZAÇÃO</a></li>
                <li><a href="/#/idioma">IDIOMA</a></li>
            </ul>
        </div>
    </div>

    <!--<div class="sidebar-column">
        <div class="sidebar-items-container">
            <ul>
                <li ><i id="toggle-sidebar" class="fa fa-caret-right" aria-hidden="true"></i></li>
            </ul>
        </div>
    </div>-->
</div>

