<ion-view view-title="Casa da Música"> <!-- cache-view="false"  -->
    <ion-content class="">
        <!-- POPOVER SELECT ROOMS -->
        <script id="my-popover.html" type="text/ng-template">
          <ion-popover-view id="select-room-popover">
            <div class="list">
              <a class="item" href="javascript:void(0);" onclick="animateRoom(suggia);return false;">Sala Suggia</a>
            </div>
            <div class="list">
              <a class="item" href="javascript:void(0);" onclick="animateRoom(sala_2);return false;">Sala 2</a>
            </div>
            <div class="list">
              <a class="item" href="javascript:void(0);" onclick="animateRoom(bar);return false;">Bar</a>
            </div>
          </ion-popover-view>
        </script>
    </ion-content>

  <p id="select-room-button">
    <span ng-click="openSelectRoomPopover($event)">SALA <i class="fa fa-caret-down" aria-hidden="true"></i></span>
  </p>

    <div ng-include src="'templates/sidebar.html'"></div>

    <div id="top-info-bar">
    </div>

    <div id="bottom-navbar" class="bottom-navbar">
        <ul>
            <li><a id="room_link" href="#/room"><i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i></a></li>
        </ul>
    </div>

    <div ng-include src="'templates/toggle-menu-btn.html'"></div>

    <div id="model-canvas-container"></div>






</ion-view>
